body {
  background-color: #a9a9a9;
  font-size: 20px;
}

h1,
h2 {
  text-align: center;
}

img {
  width: 400px;
  float: right;
}

.first,
.second {
  line-height: 28px;
}

.link {
  text-decoration: none;
  color: blue;
}
.pamp {
  width: 400px;
  float: right;
}

.page,
.pages {
  color: greenyellow;
  text-decoration: none;
}

.arrow {
  width: 300px;
  height: 100px;
  margin-right: 155px;
  margin-top: -38px;
}
